*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 111, 113);
    justify-content: center;
    align-items: center;
    height: 130px;
    color: white;
}
.links{
    display: flex;
    background-color: black;
    height: 40px;
    align-items: center;
    
}
.links a{
    padding-right: 14px;
    text-decoration: none;
    color: white;
}