*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 111, 113);
    justify-content: center;
    align-items: center;
    height: 130px;
    color: white;
}
.links{
    display: flex;
    background-color: black;
    height: 40px;
    align-items: center;
    
}
.links a{
    padding-right: 14px;
    text-decoration: none;
    color: white;
}
.main-div{
    display: flex;
    flex-direction: row;
    margin: 4px;
}
.side-bar{
    background-color: white;
    margin-right: 12px;
    width: 300px;
}
.side-bar img{
    background-color: grey;
    width: 300px;
    height: 150px
}
.side-bar .more-images img{
    width: 300px;
    height: 60px;
}
.main-content{
    background-color: white;
    width: 100%
}
.main-content img{
    background-color: grey;
    width: 100%;
    height: 150px;
}